<div class="row text-sm-center">
  <div class="container-fluid">
    <div class"row filters">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Cities
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Granada</a>
          <a class="dropdown-item" href="#">León</a>
          <a class="dropdown-item" href="#">San Juan del Sur</a>
          <a class="dropdown-item" href="#">Managua</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row text-sm-center">
  <div class="container-fluid">
    <div class"row filters">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Music & Entertainment</a>
          <a class="dropdown-item" href="#">Sports & Wellness</a>
          <a class="dropdown-item" href="#">Theater, Film & Arts</a>
          <a class="dropdown-item" href="#">Food & Drink</a>
          <a class="dropdown-item" href="#">Community</a>
          <a class="dropdown-item" href="#">Education</a>
          <a class="dropdown-item" href="#">Business & Networking</a>
          <a class="dropdown-item" href="#">Night Life</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row text-sm-center">
<div class="container-fluid">
<div class"row filters">
  <div class="btn-group">
<button type="button" class="btn btn-primary dropdown-toggle custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Event Type
</button>

<div class="dropdown-menu">
<a class="dropdown-item" href="#">Classes</a>
<a class="dropdown-item" href="#">Festivals</a>
<a class="dropdown-item" href="#">Concerts</a>
<a class="dropdown-item" href="#">Special Offers</a>
<a class="dropdown-item" href="#">Fundraisers</a>
<a class="dropdown-item" href="#">Fairs</a>
<a class="dropdown-item" href="#">Expos</a>
<a class="dropdown-item" href="#">Parties</a>
</div>
</div>
</div>
</div>
</div>

<div class="row text-sm-center">
<div class="container-fluid">
<div class"row filters">
  <div class="btn-group">
<button type="button" class="btn btn-primary dropdown-toggle custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Date
</button>

<div class="dropdown-menu">
<a class="dropdown-item" href="#">Today</a>
<a class="dropdown-item" href="#">Tomorrow</a>
<a class="dropdown-item" href="#">This weekend</a>
<a class="dropdown-item" href="#">This month</a>
</div>
</div>
</div>
</div>
</div>

<div class="row text-sm-center">
<div class="container-fluid">
<div class"row filters">
  <div class="btn-group">
<button type="button" class="btn btn-primary dropdown-toggle custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Cost
</button>

<div class="dropdown-menu">
<a class="dropdown-item" href="#">Free</a>
<a class="dropdown-item" href="#">Paid</a>
<a class="dropdown-item" href="#">By Donation</a>
</div>
</div>
</div>
</div>
</div>

<!-- <div class="row filter-button">
    <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cities</button>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Granada</a>
          <a class="dropdown-item" href="#">León</a>
          <a class="dropdown-item" href="#">San Juan del Sur</a>
          <a class="dropdown-item" href="#">Managua</a>
      </div>
</div>

<div class="row filter-button">
    <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</button>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Granada</a>
          <a class="dropdown-item" href="#">León</a>
          <a class="dropdown-item" href="#">San Juan del Sur</a>
          <a class="dropdown-item" href="#">Managua</a>
      </div>
</div>

<div class="row filter-button">
    <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Event Type</button>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Granada</a>
          <a class="dropdown-item" href="#">León</a>
          <a class="dropdown-item" href="#">San Juan del Sur</a>
          <a class="dropdown-item" href="#">Managua</a>
      </div>
</div>

<div class="row filter-button">
    <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cost</button>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Granada</a>
          <a class="dropdown-item" href="#">León</a>
          <a class="dropdown-item" href="#">San Juan del Sur</a>
          <a class="dropdown-item" href="#">Managua</a>
      </div>
</div>

<div class="row filter-button">
    <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Date</button>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Granada</a>
          <a class="dropdown-item" href="#">León</a>
          <a class="dropdown-item" href="#">San Juan del Sur</a>
          <a class="dropdown-item" href="#">Managua</a>
      </div>
</div> -->
