<div class="row">
  <div class="container-fluid"></div>
    <div class="footer text-xs-center">
      <a href="index.html.erb">Facebook</a>
      <a href="index.html.erb">Instagram</a>
    </div>
</div>
