
    <div class="row" id="box-events-wrapper">
      <div class="container-fluid">
        <div class="col-md-4 left-top-menu">
            <%= link_to "Home", root_path %>
          <a href="index.html.erb">Create Event</a>
        </div>
        <div class="col-md-4 text-xs-center" id="logo"> <%= link_to "Eventful", root_path %></div>
        <div class="col-md-4 right-top-menu text-md-right">
          <%= link_to "More Events", events_path %>
          <a href="index.html.erb">Sign Up</a>
          <a href="index.html.erb">Sign In</a>
        </div>
      </div>
    </div>


      <div class="row">
        <div class="container-fluid"></div>
          <div class="footer text-xs-center">
            <a href="index.html.erb">Facebook</a>
            <a href="index.html.erb">Instagram</a>
          </div>
    </div>
