@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Cambay|Special+Elite');

html{
  font-family: 'Special Elite', cursive;
}

.sup-form{
  margin-top: 10%;
}

.footer{
 height:40px;
 margin-top:-40px;
 color: white;
}

.footer   a{
  color: grey;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  }

.foot {
  margin-top: 14%;
}
