// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Cambay|Special+Elite');


html{
  font-family: 'Special Elite', cursive;
  height: 100%;
}
//

#box-events-wrapper{
    background: lightgrey;
    background-size: cover;
    background-position: center;
}

#logo{
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  padding: 35px;
  color: white;
  font-weight: bolder;
}

.left-top-menu {
  color: white;
  text-decoration: none;
  padding: 55px;
  font-size: 20px;
}

.left-top-menu  a{
  color: white;
  text-decoration: none;
  margin-left: 10px;

}

.right-top-menu {
  color: white;
  text-decoration: none;
  padding: 55px;
  font-size: 20px;
}

.right-top-menu  a{
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}


.featured-events {
    margin-top: 4%;
    margin-left: 23%;
    font-weight: bold;
  }

.featured-events-body {
  margin-left: 4%;
  margin-top: 2%;
  font-weight: bold;
}

.other-events{
  background-image: url(cocibolca.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
}
