// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Cambay|Special+Elite');


html{
  font-family: 'Special Elite', cursive;
  height: 100%;
}
//

#box-events-wrapper{
    background: lightgrey;
    background-size: cover;
    background-position: center;
}

#logo{
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  padding: 35px;
  color: white;
  font-weight: bolder;
}

.left-top-menu {
  color: white;
  text-decoration: none;
  padding: 55px;
  font-size: 20px;
}

.left-top-menu  a{
  color: white;
  text-decoration: none;
  margin-left: 10px;

}

.right-top-menu {
  color: white;
  text-decoration: none;
  padding: 55px;
  font-size: 20px;
}

.right-top-menu  a{
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}


.featured-events {
    margin-top: 4%;
    margin-left: 23%;
    font-weight: bold;
  }

.featured-events-body {
  margin-top: 2%;
  font-weight: bold;
}

.other-events{
  background-image: url(concert.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
}

.info-bar{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-left: -14.5%;

}
.events-filters {
  font-size: 24px;
}

.event-listing {
  background: #f7f7f7;
  padding: 2%;
  margin-bottom: 2%;
}

.filter-button {
  margin-bottom: 2%;
}

.custom {
    width: 180px !important;
}

.event-details {
  background-image: url(granadacenter.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;

}
.event-title {
  margin-top: 5%;
  font-size: 25px;
  font-weight: bold;
}

.event-new{
  background-image: url(granadacenter.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;

}
.create-form{
  margin-bottom: 15%;
}
