// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Cambay|Special+Elite');


html{
  font-family: 'Special Elite', cursive;
}


#box-wrapper{
    background-image: url("granadacenter.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#logo a{
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  padding: 35px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.left-top-menu {
  color: white;
  text-decoration: none;
  padding: 55px;
  font-size: 20px;
}

.left-top-menu  a{
  color: white;
  text-decoration: none;
  margin-left: 10px;

}

.right-top-menu {
  color: white;
  text-decoration: none;
  padding: 55px;
  font-size: 20px;
}

.right-top-menu  a{
  color: black;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

.live-enjoy h2{
  font-weight: 300;
  color: white;
  line-height: 2.1;
  font-size: 70px;
}

.live-enjoy p{
  color: grey;
  margin-top: -27px;
}

.landing-search-form{
  margin-top: 3%;
}
